@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: inter;
  src: url('./assets/fonts/Inter-Regular.ttf');
}

.divide-space-nav {
  height: calc(100vh - (70px + 110px));
}

.main-board {
  height: calc(100vh - (70px + 60px))
}

@media screen and (min-width: 640px) {
  .main-board {
    height: calc(100vh - 70px)
  }
}

@layer base {
  html {
    @apply font-inter
  }

  .onboard-title {
    @apply md:text-center text-[28px];
  }

  .profile-title {
    @apply text-xl
  }

  .title {
    @apply font-bold capitalize  lg:text-3xl
  }

  .bar {
    @apply bg-primary_purple-2;
  }

  .onboard-container {
    @apply w-[377px];
  }

  .normal-img {
    @apply w-full h-full object-cover
  }

  .overlay {
    @apply absolute w-full h-full bg-gradient-to-b from-dark to-primary_purple-4 opacity-50
  }

  .onboard-form {
    @apply flex flex-col items-center justify-between space-y-4 lg:space-y-6 w-full
  }

  .alert {
    @apply absolute right-6 top-20 transition px-3 py-2 rounded-md bg-white border shadow-2xl flex items-center space-x-3
  }

  .link {
    @apply text-primary_purple hover:text-primary_purple-4
  }

  .input-container {
    @apply w-full min-h-[72px];
  }

  .header {
    @apply w-full h-[70px] border
  }

  input {
    @apply bg-primary_purple-1 outline-none border-none;
  }

  .inputation {
    @apply h-12 px-5 w-full rounded-lg
  }

  .btn {
    @apply border-none outline-none px-4 py-2;
  }

  .primary-btn {
    @apply bg-primary_purple hover:bg-primary_purple-4 text-white
  }

  .secondary-btn {
    @apply bg-dark-1 hover:bg-dark-2 text-white
  }

  .description {
    @apply text-xl font-normal text-dark-2
  }

  .flex-center {
    @apply flex items-center justify-center
  }
}